doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../sass/scss.sass", attr)
        link(rel="stylesheet" href="../css/normalize.css")
        link(rel="stylesheet" href="../css/style.css")
    body 
    header.header
        .header_div 
            img.header_div_img( src="../image/Vector (3).png" alt="rasm bor")
        .header_div 
            span.header_div_span
                h2 Don’t miss it 
            span.header_div_span
                p We will email you one delicious recipe everyday for you to try at home. They are simple and delicious: we encourage you to try! 
            span.header_div_span
                input(type="text" placeholder="Your email here") 
            span.header_div_span
                button.button(type='submit') Subscribe
